* {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

:root {
  /* COLORS */

  --primary-color: #3cdbc0;
  --dark-color: #4a4a4a;
  --light-color: #ffffff;

  /* FONTS */

  --primary-font: "Rubik", sans-serif;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
  color: var(--dark-color);
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
  padding-top: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: var(--light-color);
}

.header-logo {
  display: inline-block;
  width: 155px;
}

.header-logo img {
  width: 100%;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu ul li a {
  text-transform: uppercase;
  padding: 10px;
  display: inline-block;
}

/* MAIN */

.main {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--light-color);
  position: relative;
  top: 118px;
}

.main-title {
  text-transform: capitalize;
  font-size: 1.875rem;
}

.main-title span {
  display: block;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
  }

  .main-title {
    font-size: 2.5rem;
  }

  .main {
    top: 105px;
  }
}
