* {
  box-sizing: border-box;
  color: inherit;
  list-style-type: none;
  text-decoration: none;
}

:root {
  /* COLORS */

  --menu-color: #4a4a4a;
  --background-color: #3cdbc0;
  --light-color: #ffffff;

  /* FONTS */

  --primary-font: "Rubik", sans-serif;
  --regular-weight: 400px;
  --bold-weight: 900px;
}

html {
  font-family: var(--primary-font);
  font-size: 16px;
}

/* HEADER */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
}

.header-logo {
  display: block;
  width: 155px;
  margin-bottom: 10px;
}

.header-logo img {
  width: 100%;
}

.header-menu {
  display: block;
  margin-bottom: 13px;
}

.header-menu li {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  font-family: var(--menu-color);
  font-weight: var(--regular-weight);
}

/* MAIN */

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--background-color);
}

.main-title {
  color: var(--light-color);
  text-transform: capitalize;
  font-weight: var(--bold-weight);
  font-size: 30px;
}

.main-title span {
  display: block;
  text-align: center;
}

@media all and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .header-menu {
    margin-right: 30px;
  }

  .header-logo {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
  }

  .header-menu li {
    font-size: 16px;
  }

  .main-title {
    font-size: 40px;
  }
}
